.container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#F2F3FB;
}
.info_table{
    min-width: 800px;
    max-width: 1100px;
    margin-top:20px;
    width:80%;
    height:105px;
    display:flex;
    background-color:white;
    margin-bottom:20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.producer_table,.head_block_table,.transactions_table{
    width : 33.3%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.producer_table img{
    width : 35px;
    height:35px;
}
.head_block_table img{
    width : 35px;
    height:35px;
}
.transactions_table img{
    width : 35px;
    height:35px;
}
.info {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px;
    font-family: Helvetica,Arial,Helvetica;
    text-decoration:none;
}

.info_text {
    text-decoration:none;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    font-size:14px;
    font-weight:550;
    color:#808080;
    font-family: Helvetica,Arial,Helvetica;
}
.hb_text {
    text-decoration: none;
    color: black;
}
.irrb_text {
    text-decoration: none;
    color : #808080;
}
.with-tooltip {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.with-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}
.with-tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}
.producers_table{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 800px;
    max-width: 1100px;
    width:80%;
    height:auto;
    display:flex;
    flex-direction:column;
    background-color:white;
    margin-bottom:20px;
    align-items:center;
    text-align:center;
}
.producer_item{
    font-family: Helvetica,Arial,Helvetica;
    height:50px;
    width:95%;
    display:flex;
    align-items:center;
    text-align:center;
    border-bottom: 1px solid #E0E0E0;
}
.producer_table_header {
    font-weight:700;
    margin-top:10px;
    font-family: Helvetica,Arial,Helvetica;
    height:45px;
    width:95%;
    display:flex;
    align-items:center;

    border-bottom: 1.5px solid #E0E0E0;
}
.rank,
.producer_name,
.producer_status,
.producer_vote_rate,
.producer_votes,
.producer_link,
.reward_per_day{
    display:flex;
    height:50px;
    align-items:center;
    font-size:14px;
    font-family: Helvetica,Arial,Helvetica;
    font-weight:600;
}
.rank_header,
.producer_name_header,
.producer_status_header,
.producer_vote_rate_header,
.producer_votes_header,
.producer_link_header,
.reward_per_day_header{
    color:#243B55;
    display:flex;
    height:50px;
    align-items:center;
    font-size:14px;
}
.rank {
    width:8%;
}
.producer_name {
    color:#4183C4;
    width:18%;
    text-decoration:none;
}
.producer_status {
    width:11%;
    
}
.producer_status_box{
    font-size: 12px;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.Top21 {
    border-color: black;
}
.standby{
    border-color:#cd2796;
    color:#cd2796;
}
.producing{
    border-color:#1664C0;
    color:#1664C0;
}
.producer_link {
    width:11%;
}
.internet_logo {
    margin-left:10px;
    right:0;
    width:15px;
    height:15px;
}
.producer_vote_rate {
    width:13%;
}
.producer_votes {
    width:21%;
}
.reward_per_day_header{
    width: 16%
}

.rank_header {
    width:8%;
}
.producer_name_header {
    width:18%;
}
.producer_status_header {
    width:11%;
}
.producer_link_header {
    width:11%
}
.internet_logo_header {
    width:15px;
    height:15px;
}
.producer_vote_rate_header {
    width:13%;
}
.producer_votes_header {
    width:21%;
}
.reward_per_day_header {
    width:16%;
}